<div class="cards m-4">
<%# <% current_user.boats.each do |boat| %>

  <% @boats.each do |boat| %>
    <%= boat.name %>
      <% boat.bookings.each do |booking| %>
        <%= booking.start_date %>
        <%= booking.end_date %>
        <%= booking.status %>
      <% end %>
  <% end %>


</div>
