.boat-card {
  overflow: hidden;
  // height: 222px;
  background: #f7fbfe;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

.boat-card-image {
  width:333px;
  height:100%;
  object-fit: cover;
}

.boat-info h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  font-weight: bold;
  color:#060b3d;
  margin: 0;
}

.margin-top-negative {
  margin-top: -75px;
}



.boat-show-location {
  font-family:'Merriweather', serif;
  font-weight: 300;
  font-size: 20px;
  color: #333;
}

.boat-card p {
  font-family: 'Merriweather', serif;
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
  color:#263554;
  border-radius: 15px;
}

.boat-infos {
  padding: 0 18px;
}
