.navbar-lewagon {
  justify-content: space-between;
  background: #D1DDE8;
  color:#263554;
  height: 80px;
  position:fixed;
  top:0;
  width:100%;
  z-index: 1000;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
    height: 134px;
    width: 164px;
}


.style_image {
  height: 50px;
}
