
.single-boat-card {
  padding: 0 200px;
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.single-boat-card-title {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 40px;
  color: #2FA3C1;
  margin-top: 40px;
}

.top-section {
  margin: auto;
  display: flex;
}


.single-boat-card h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 60px;
  font-weight: bold;
  margin: 0;
  color:#060b3d;
}

.single-boat-card p {
  font-family: 'Merriweather', serif;
  font-size: 12px;
  opacity: .7;
  margin: 0;
  color:#5A5A5A;

}

.single-boat-card-infos {
 padding-inline-start: 24px;
 gap: 12px;
}


.single-boat-card .single-boat-card-infos {
  padding: 16px;
  justify-content: space-between;
  position: relative;
  display:flex;
  flex-direction: column;

}


 .single-boat-card-user {
  width: 40px;
}

.info-block {
  margin-left: 20px;
}

.boat-amenities {
  margin-left: 20px;
}


.top-section > img {
  border-radius: 16px;
  overflow: hidden;
  height: 300px;
  width: 100%;
  object-fit: cover;
}

.boat-card-buttons {
    margin-left: auto;
    border: 1px solid rgb(221, 221, 221);
    border-radius: 12px;
    padding: 24px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bottom-section {
  margin: 16px auto;
  display: flex;
  width: 100%;
}


.boat-button {
  width: -webkit-fill-available;
}

.search-form-control {
  position: relative;
}

.search-form-control .btn {
  position: absolute;
  top: 8px;
  bottom: 8px;
  right: 8px;
}

.search-form-control .form-control {
  height: 3.5rem;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
  border: 1px solid #E7E7E7;


.search-form-control .form-control:focus {
  border: 1px solid #1EDD88;
  outline: none !important;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
}
